html {
    scroll-behavior: smooth;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}



nav {
    margin: 0;
    display: flex;
    background: #eae7dc;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem 6rem;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 300;
    box-shadow: 1px 1px 7px 0px #585858;
}

nav a {
    color: #e98074;
    text-decoration: none;
}


#header-link {
    font-size: 28px;
    color: #e85a4f;
    font-weight: bolder;
    letter-spacing: 0.08em;
    width: 25%;
}


#logo path {
    fill: transparent;
    stroke: #e85a4f;
    stroke-width: 2px;
}

#logo path:nth-child(1) {
    stroke-dasharray: 131.4px;
    stroke-dashoffset: 131.4px;
    animation: logo-anim 2s linear forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 85.51280975341797px;
    stroke-dashoffset: 85.51280975341797px;
    animation: logo-anim 2s linear forwards 0.2s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 59.56916809082031px;
    stroke-dashoffset: 59.56916809082031px;
    animation: logo-anim 2s linear forwards 0.4s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 160.65504455566406px;
    stroke-dashoffset: 160.65504455566406px;
    animation: logo-anim 2s linear forwards 0.6s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 116.88446044921875px;
    stroke-dashoffset: 116.88446044921875px;
    animation: logo-anim 2s linear forwards 0.8s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 103.0442123413086px;
    stroke-dashoffset: 103.0442123413086px;
    animation: logo-anim 2s linear forwards 1s;
}

@keyframes logo-anim {
    to {
        stroke-dashoffset: 0;
    }
}

.nav-items-sec {
    width: 75%;
}

.nav-items-sec ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

nav .nav-items-sec li {
    font-size: 20px;
    margin-right: 1.4em;
    letter-spacing: 0.03em;
    text-transform: capitalize;
}
nav .nav-items-sec li:last-child {
    margin: 0;
}

.logout-section {
    position: relative;
}
.logout-section li:first-child {
    margin: 0 !important;
    color: #e9867a;
    cursor: pointer;
}

.user-dropdown {
    position: absolute;
    background-color: white;
    border: 0.5px solid #e6e6e6;
    right: 0%;
    top: 145%;
    z-index: 50;
    box-shadow: 1px 1px 7px 0px #949494;
    display: none;
}
.user-dropdown-toggle {
    display: block;
}
.user-dropdown-ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.user-dropdown-li {
    margin-right: 0 !important;
    /* text-align: center; */
    font-size: 0.9em !important;
    border-bottom: 0.5px solid #e6e6e6;
    width: 170px;
    text-align: end;
}

.user-dropdown-li a {
    color: black;
    width: 100%;
    display: block;
    padding: 0.7em;
}

.user-dropdown-li:hover {
    background-color: #e6e6e6;
}

.user-dropdown-li .fas.fa-user, .user-dropdown-li .fas.fa-shopping-cart, .user-dropdown-li .fas.fa-history, .user-dropdown-li .fas.fa-sign-out-alt, .user-dropdown-li .fas.fa-sliders-h {
    margin-left: 0.5em;
    color: #3b3b3b;
}

.fas.fa-bars {
    font-size: 25px;
    color: #e8ad47;
    cursor: pointer;
}


/* ANIMATED HAMBURGER STARTS*/
.hamburger {
    display: none;
}
.hamline {
    width: 25px;
    min-height: 4px;
    background-color: #e85a4f;
    border-radius: 10px;
    cursor: pointer;
    /* display: none; */
}

.hamline:nth-of-type(1), .hamline:nth-of-type(2) {
    margin-bottom: 3px;
}

.hamselected {
    background-color: #e8ad47;
}

.hamanimate {
    display: block;
}
/* ANIMATED HAMBURGER ENDS */

.menubar {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: all 0.5s cubic-bezier(.21,.55,.37,.76);
    display: none;
    top: 0;
}

.menubar ul {
    list-style: none;
    padding: 0;
    /* text-align: center; */
}
.menubar ul li {
    margin-bottom: 1em;
} 
.menubar ul li a {
    color: rgb(212, 212, 212);
    text-decoration: none;
    font-size: 1.8em;
    letter-spacing: 0.02em;
    transition: all 0.2s linear;
    font-weight: 300;
}

.menubar ul li a:hover {
    color: #e8ad47;
}

.menubar ul li a i {
    margin-right: 1em;
    font-size: 0.8em;
}

@keyframes hamline1animate {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(3.5px) rotate(22.5deg);
    }

    100% {
        transform: translateY(7px) rotate(45deg) scaleX(1.2);
    }
}

@keyframes hamline2animate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-22.5deg);
    }

    100% {
        transform: rotate(-45deg) scaleX(1.2);
    }
}

@keyframes hamline1removeanimate {

    0% {
        transform: translateY(7px) rotate(45deg) scaleX(1.2);
    }

    50% {
        transform: translateY(3.5px) rotate(22.5deg);
    }

    100% {
        transform: translateY(0) rotate(0) scaleX(1);
    }
}

@keyframes hamline2removeanimate {

    0% {
        transform: rotate(-45deg) scaleX(1.2);
    }

    50% {
        transform: rotate(-22.5deg);
    }

    100% {
        transform: rotate(0) scaleX(1);
    }
}

@keyframes hamline3animate {
    0% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

@keyframes hamline3removeanimate {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

#first {
    color: #e85a4f;
    width: 100%;
    /* padding-top: 68.2px; */
}

#first-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.blurred-glass {
    width: 600px;
    height: 400px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.fas.fa-pause, .fas.fa-play {
    position: absolute;
    color: #e6e6e6;
    background: #060606c4;
    z-index: 3;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    bottom: 2%;
    left: 50%;
    margin-left: -20px;
}
.fas.fa-play {
    display: none;
}

.fas.fa-pause:hover, .fas.fa-play:hover {
    background-color: black;
    color: white;
}

.carousel {
    width: 100%;
    height: 630px;
    overflow: hidden;
    position: relative;
}

.carousel .fas.fa-chevron-left, .carousel .fas.fa-chevron-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background-color: rgb(0 0 0 / 59%);
    width: 1.6em;
    height: 2.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    color: #e6e6e6;
    cursor: pointer;
    z-index: 2;
    transition: 0.2s linear;
}

.carousel .fas.fa-chevron-left:hover, .carousel .fas.fa-chevron-right:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.carousel .fas.fa-chevron-left {
    left: 0%;
}

.carousel .fas.fa-chevron-right {
    right: 0%;
}

.carousel-slide {
    display: flex;
}

.carousel-images {
    width: 100%;
}

#title {
    font-size: 50px;
    margin: 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 0.5em;
}

#desc {
    padding: 2rem;
    color: #8e8d8a;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    word-spacing: 0.1em;
}
#desc p{
    padding: 0;
    margin: 0;
}

#desc #desc-p-1 {
    margin-bottom: 1rem;
}


#first-right {
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#first-right-img {
    width: 69%;
    border-radius: 6rem;
}


/* second div */
#second {
    background-color: #eae7dc;
    color: black;
}

.div-title {
    text-align: center;
    padding: 0.8em 0 0.8em;
    font-size: 40px;
    letter-spacing: 0.06em;
    font-weight: 500;
    color: #e85a4f;
}

#second .container {
    width: 80%;
    padding: 3rem 0 0;
    padding-top: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;

}

.product {
    width: 29%;
    margin-bottom: 2rem;
    transform: skewX(.001deg);
    transition: all .35s ease-in-out;
    position: relative;
    cursor: pointer;
}

.product:hover .image-part img {
    opacity: 0.75;
    /* background-color: #e8e8e8;
    box-shadow: 0px 5px 28px 1px #868686;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    transform-origin: top center;
    will-change: transform;
    transform:  translateY(-6px); */
}

.product:hover .product-desc h3 {
    color: #e98074;
}


/* .pdt-floating-span {
    background-color: rgba(0, 0, 0, 0.747);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
    visibility: hidden;
    opacity: 0;
}

.product:hover .pdt-floating-span {
    visibility: visible;
    opacity: 1;
}

.pdt-floating-span-btn-1, .pdt-floating-span-btn-2 {
    width: 205px;
    margin: 0 auto 1.5em;
    height: 45px;
    background: transparent;
    border: 3px solid #e85a4f;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s linear;
    box-shadow: 0px 18px 24px -15px #e85a4f;
}

.pdt-floating-span-btn-1:hover, .pdt-floating-span-btn-2:hover {
    transform: translateY(-5px);
}
.pdt-floating-span-btn-2 {
    margin: 0 auto;
} */

.image-part {
    position: relative;
}

.image-part img {
    width: 100%;
    max-height: 420px;
}

.percentage-off-sec {
    position: absolute;
    top: 0;
    right: 4%;
    background: #4bb543;
    color: #ffffff;
    padding: 0.5em 0.5em 1em;
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
    z-index: 3;
}

.percentage-off-sec div:nth-of-type(1) {
    font-size: 0.9em;
    width: 100%;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.percentage-off-sec div:nth-of-type(2) {
    font-size: 1.1em;
    width: 100%;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.03em;
}

/* .product-desc {
    padding: 0.4em 1em;
} */
.product-desc h3 {
    color: black;
    font-weight: 500;
}

.product-pricing {
    margin: 0.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing-sec {
    display: flex;
    align-items: baseline;
    letter-spacing: 0.07em;
}

.original-price {
    font-weight: 600;
    font-size: 1.15em;
    color: black;
}
.original-price.pdt-on-sale {
    text-decoration: line-through;
    color: #8e8d8a;
    margin-right: 0.5em;
    font-size: 1em;
}

.offer-price {
    font-weight: 600;
    font-size: 1.15em;
    color: black;
}

.percentage-off {
    background: black;
    color: white;
    padding: 0.1em 0.6em;
    font-size: 0.9rem;
}

.free-shipping-msg {
    margin: 0.3em 0;
    color: #4BB543;
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

.free-shipping-msg .fas.fa-tag {
    transform: rotateY(180deg);
    margin-right: 0.4em;
}

.fas.fa-chevron-up {
    color: black;
    border: 3px solid black;
    padding: 0.7em;
    position: fixed;
    z-index: 10;
    bottom: 4%;
    right: 2.5%;
    transition: all 0.15s linear;
    cursor: pointer;
    display: none;
}

.fas.fa-chevron-up:hover {
    background-color: black;
    color: white;
}

.second-btn-area {
    display: grid;
    place-items: center;
    padding-bottom: 2em;
}

.second-view-more-btn {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: #e85a4f;
}

/* footer */

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background: #e98074;
    color: #eae7dc;
}

.upper-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2em 0;
}

.upper-footer h2 {
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 30px;
}

.address-sec {
    text-align: center;
    margin: 1em 0;
}
.address-sec p {
    margin-bottom: 0.2em;
}

.fab.fa-twitter, .fab.fa-facebook, .fab.fa-instagram, .fab.fa-linkedin {
    font-size: 30px;
    cursor: pointer;
}

.social-icons {
    margin: 1em 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.copyright-sec {
    background: #e85a4f;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.1em;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* FLOATING CART */

.show-on-scroll-cart {
    display: none;
}
.floating-cart {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #0C9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 104px;
    right: 33px;
    box-shadow: 0px 2px 6px #3c3c3c;
    cursor: pointer;
    transition: 0.1s linear;
}

.floating-cart:hover {
    background-color: rgb(3, 235, 177);
}

.cart-pdt-number {
    position: absolute;
    background: black;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -2px;
    left: 1px;
    font-size: 10px;
}

/* SNACKBAR */
.snackbar {
    background-color: rgb(24, 24, 24);
    color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    padding: 0.4em 0.8em;
    width: 300px;
    margin-left: -150px;
    position: fixed;
    left: 50%;
    bottom: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    box-shadow: 0px 2px 25px black;
}

.snackbar.show-snackbar {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {opacity: 0; bottom: 0;}
    to {opacity: 1; bottom: 30px;}
}

@keyframes fadein {
    from {opacity: 0; bottom: 0;}
    to {opacity: 1; bottom: 30px;}
}

@-webkit-keyframes fadeout {
    from {opacity: 1; bottom: 30px;}
    to {opacity: 0; bottom: 0;}
}

@keyframes fadeout {
    from {opacity: 1; bottom: 30px;}
    to {opacity: 0; bottom: 0;}
}



/* ADDING RESPONSIVENESS */

@media screen and (max-width:1025px) {
    .carousel {
        height: 576px;
    }

    .carousel-images {
        height: 576px;
    }

    .product{ 
        width: 31%;
    }

    .original-price, .percentage-off {
        font-size: 0.8em;
    }
    .offer-price {
        font-size: 0.9em;
    }
    #second .container {
        width: 90%;
        justify-content: space-between;
        padding: 0;
    }

    .div-title {
        font-size: 2.3em;
    }
    .fas.fa-chevron-up {
        bottom: 4%;
        right: 3.9%;
    }
}


@media screen and (max-width:769px) {
    .carousel {
        height: 432px;
    }

    .carousel-images {
        height: 432px;
    }

    .carousel .fas.fa-chevron-left, .carousel .fas.fa-chevron-right {
        font-size: 1.2em;
        width: 2em;
        height: 3em;
    }
    .fas.fa-pause, .fas.fa-play {
        width: 2em;
        height: 2em;
        font-size: 1em;
    }

    .original-price, .percentage-off {
        font-size: 0.7em;
    }
    .offer-price {
        font-size: 0.8em;
    }
    /* .pdt-floating-span-btn-1, .pdt-floating-span-btn-2 {
        width: 170px;
    } */

    .fas.fa-chevron-up {
        bottom: 4%;
        right: 5.5%;
    }
}
@media screen and(min-width: 651px) {
    .hamburger {
        display: none;
    }
    .nav-items-sec {
        display: block;
    }
}

@media screen and (max-width: 650px){
    .hamburger {
        display: block;
    }
    .nav-items-sec {
        display: none;
    }
}


@media screen and (max-width:541px) {
    .upper-footer {
        flex-direction: column;
    }
    .social-media-sec {
        margin-top: 1em;
    }

    .social-icons {
        width: 75%;
        margin: 1em auto;
    }

    .floating-cart {
        bottom: 18%;
        right: 6.3%;
    }
    .fas.fa-chevron-up {
        bottom: 6.7%;
        right: 8.5%;
    }

    .carousel {
        height: 239.4px;
    } 

    .carousel-images {
        height: 239.4px;
    }

    .carousel .fas.fa-chevron-left, .carousel .fas.fa-chevron-right {
        font-size: 1em;
        width: 1.6em;
        height: 2em;
    }

    .fas.fa-pause, .fas.fa-play {
        width: 1.6em;
        height: 1.6em;
        font-size: 0.9em;
    }

    .product {
        width: 48.5%;
    }
    /* .pdt-floating-span-btn-1, .pdt-floating-span-btn-2 {
        width: 140px;
        height: 40px;
    } */
    #second .original-price,#second .offer-price,#second .percentage-off {
        font-size: 0.8em;
    }
}


@media screen and (max-width: 376px) {

    .carousel {
        height: 180px;
    }

    .carousel-images {
        height: 180px;
    }

    .div-title {
        font-size: 30px;
        padding: 2rem 0 1rem;
    }

    #second .container {
        width: 97%;
        padding: 1.5em 0;
    }
    .product {
        width: 100%;
    }
    .fas.fa-chevron-up {
        right: 8.5%;
    }
    .floating-cart {
        bottom: 125px;
        right: 26px;
    }
    /* .pdt-floating-span-btn-1, .pdt-floating-span-btn-2 {
        width: 205px;
        height: 45px;
    } */
}

@media screen and (max-width: 280px){
.floating-cart {
    bottom: 125px;
    right: 15px;
}
}

/* LOADER */
/* #preloader { */
    /* position: fixed; */
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/* } */
/* #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
} */